  <!-- slider_area_start -->
  <div class="slider_area ">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-md-6">
                    <div class="illastrator_png">
                        <img src="./assets/img/banner/edu_ilastration.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h3>Envia y recibe <br>
                            pagos con facilidad</h3>
                        <a href="#" class="boxed_btn1">¡¡Envia y recibe pagos!!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    <h3>Todo tipo de<br>
                        Transferencias</h3>
                    <p>Haz transferencias electrónicas masivas en todo el mundo.
                        Disponible en más de 50 países, en más de 20 monedas.
                        Envía fondos a cualquier tarjeta Visa o Mastercard y todo tipo de
                        Transferencias bancarias locales en tu moneda local.
                    </p>
                    <a href="#" class="boxed_btn">Saber más</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="about_tutorials">
                    <div class="courses">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>50+</span>
                                <p> Paises</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-blue">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>30+</span>
                                <p> Monedas</p>
                            </div>

                        </div>
                    </div>
                    <div class="courses-sky">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>Todas las Tarjetas</span>
                                <p> </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->


<div class="our_courses">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Nuestros beneficios</h3>
                    <p>Recibir pagos de empresas.
                        Enviar pagos a otros usuarios Paynew.
                        Recibir pagos de otros usuarios PayNew.
                        Cuenta IBAN EUR dedicada a pagos en Euros.
                        Cuenta ACH USA dedicada a pagos en Dólares.
                        Múltiples métodos de retiro, incluyendo la tarjeta PayNew.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-art-and-design"></i>
                    </div>
                    <h3>Wire Transfer</h3>
                    <p>
                        Realiza transferencias instantáneas a otros clientes de PayNew.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon blue">
                        <i class="flaticon-business-and-finance"></i>
                    </div>
                    <h3>Transferencias P2P</h3>
                    <p>
                        Envía fondos directamente a tu tarjeta VISA o Mastercard emitida por tu banco.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-premium"></i>
                    </div>
                    <h3>Transfiere dinero a cualquier tarjeta</h3>
                    <p>
                        Envia dinero a bancos locales en moneda local a un bajo costo.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon gradient">
                        <i class="flaticon-crown"></i>
                    </div>
                    <h3>Transferencia EFT</h3>
                    <p>
                        Envía dinero a bancos locales en moneda local. A diferencia de las transferencias bancarias a través de la red SWIFT, las transferencias bancarias locales, también conocidas como EFT, son mucho más baratas. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer_bg_1">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <a style="font-family: 'Poppins', sans-serif;color: #FFFFFF;font-size: 25px;" href="index.html">
                            
                                    PayNew
                                        <!-- <img src="img/logo.png" alt=""> -->
                                    </a>
                            </a>
                        </div>
                        <p>
                            Su información se transmite a nuestros servidores mediante una conexión segura . Todos sus datos personales están encriptados y el acceso solo está disponible para el personal relevante de PayNew Inc. Todas sus transacciones de pago deben estar firmadas digitalmente por un código de seguridad que se envía a su número de teléfono.
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Beneficios
                        </h3>
                        <ul>
                            <li><a href="#">Transferencias electrónicas masivas a tus clientes en todo el mundo.</a></li>
                            <li><a href="#"> ransferencias masivas EFT a tus clientes en todo el mundo.</a></li>
                          
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Cuentas personales
                        </h3>
                        <ul>
                            <li><a href="#">Recibir pagos de empresas.</a></li>
                            <li><a href="#">Múltiples métodos de retiro, incluyendo la tarjeta PayNew</a></li>
                 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<a>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>










